<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ActHiProcinstMapper">
    
    <resultMap type="ActHiProcinst" id="ActHiProcinstResult">
        <result property="id"    column="ID_"    />
        <result property="rev"    column="REV_"    />
        <result property="procInstId"    column="PROC_INST_ID_"    />
        <result property="businessKey"    column="BUSINESS_KEY_"    />
        <result property="procDefId"    column="PROC_DEF_ID_"    />
        <result property="startTime"    column="START_TIME_"    />
        <result property="endTime"    column="END_TIME_"    />
        <result property="duration"    column="DURATION_"    />
        <result property="startUserId"    column="START_USER_ID_"    />
        <result property="startActId"    column="START_ACT_ID_"    />
        <result property="endActId"    column="END_ACT_ID_"    />
        <result property="superProcessInstanceId"    column="SUPER_PROCESS_INSTANCE_ID_"    />
        <result property="deleteReason"    column="DELETE_REASON_"    />
        <result property="tenantId"    column="TENANT_ID_"    />
        <result property="name"    column="NAME_"    />
        <result property="callbackId"    column="CALLBACK_ID_"    />
        <result property="callbackType"    column="CALLBACK_TYPE_"    />
        <result property="referenceId"    column="REFERENCE_ID_"    />
        <result property="referenceType"    column="REFERENCE_TYPE_"    />
    </resultMap>

    <sql id="selectActHiProcinstVo">
        select ID_, REV_, PROC_INST_ID_, BUSINESS_KEY_, PROC_DEF_ID_, START_TIME_, END_TIME_, DURATION_, START_USER_ID_, START_ACT_ID_, END_ACT_ID_, SUPER_PROCESS_INSTANCE_ID_, DELETE_REASON_, TENANT_ID_, NAME_, CALLBACK_ID_, CALLBACK_TYPE_, REFERENCE_ID_, REFERENCE_TYPE_ from act_hi_procinst
    </sql>

    <select id="selectActHiProcinstList" parameterType="ActHiProcinst" resultMap="ActHiProcinstResult">
        <include refid="selectActHiProcinstVo"/>
        <where>  
            <if test="rev != null "> and REV_ = #{rev}</if>
            <if test="procInstId != null  and procInstId != ''"> and PROC_INST_ID_ = #{procInstId}</if>
            <if test="businessKey != null  and businessKey != ''"> and BUSINESS_KEY_ = #{businessKey}</if>
            <if test="procDefId != null  and procDefId != ''"> and PROC_DEF_ID_ = #{procDefId}</if>
            <if test="startTime != null "> and START_TIME_ = #{startTime}</if>
            <if test="endTime != null "> and END_TIME_ = #{endTime}</if>
            <if test="duration != null "> and DURATION_ = #{duration}</if>
            <if test="startUserId != null  and startUserId != ''"> and START_USER_ID_ = #{startUserId}</if>
            <if test="startActId != null  and startActId != ''"> and START_ACT_ID_ = #{startActId}</if>
            <if test="endActId != null  and endActId != ''"> and END_ACT_ID_ = #{endActId}</if>
            <if test="superProcessInstanceId != null  and superProcessInstanceId != ''"> and SUPER_PROCESS_INSTANCE_ID_ = #{superProcessInstanceId}</if>
            <if test="deleteReason != null  and deleteReason != ''"> and DELETE_REASON_ = #{deleteReason}</if>
            <if test="tenantId != null  and tenantId != ''"> and TENANT_ID_ = #{tenantId}</if>
            <if test="name != null  and name != ''"> and NAME_ = #{name}</if>
            <if test="callbackId != null  and callbackId != ''"> and CALLBACK_ID_ = #{callbackId}</if>
            <if test="callbackType != null  and callbackType != ''"> and CALLBACK_TYPE_ = #{callbackType}</if>
            <if test="referenceId != null  and referenceId != ''"> and REFERENCE_ID_ = #{referenceId}</if>
            <if test="referenceType != null  and referenceType != ''"> and REFERENCE_TYPE_ = #{referenceType}</if>
        </where>
    </select>
    
    <select id="selectActHiProcinstById" parameterType="String" resultMap="ActHiProcinstResult">
        <include refid="selectActHiProcinstVo"/>
        where ID_ = #{id}
    </select>
        
    <insert id="insertActHiProcinst" parameterType="ActHiProcinst">
        insert into act_hi_procinst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID_,</if>
            <if test="rev != null">REV_,</if>
            <if test="procInstId != null and procInstId != ''">PROC_INST_ID_,</if>
            <if test="businessKey != null">BUSINESS_KEY_,</if>
            <if test="procDefId != null and procDefId != ''">PROC_DEF_ID_,</if>
            <if test="startTime != null">START_TIME_,</if>
            <if test="endTime != null">END_TIME_,</if>
            <if test="duration != null">DURATION_,</if>
            <if test="startUserId != null">START_USER_ID_,</if>
            <if test="startActId != null">START_ACT_ID_,</if>
            <if test="endActId != null">END_ACT_ID_,</if>
            <if test="superProcessInstanceId != null">SUPER_PROCESS_INSTANCE_ID_,</if>
            <if test="deleteReason != null">DELETE_REASON_,</if>
            <if test="tenantId != null">TENANT_ID_,</if>
            <if test="name != null">NAME_,</if>
            <if test="callbackId != null">CALLBACK_ID_,</if>
            <if test="callbackType != null">CALLBACK_TYPE_,</if>
            <if test="referenceId != null">REFERENCE_ID_,</if>
            <if test="referenceType != null">REFERENCE_TYPE_,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="rev != null">#{rev},</if>
            <if test="procInstId != null and procInstId != ''">#{procInstId},</if>
            <if test="businessKey != null">#{businessKey},</if>
            <if test="procDefId != null and procDefId != ''">#{procDefId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="duration != null">#{duration},</if>
            <if test="startUserId != null">#{startUserId},</if>
            <if test="startActId != null">#{startActId},</if>
            <if test="endActId != null">#{endActId},</if>
            <if test="superProcessInstanceId != null">#{superProcessInstanceId},</if>
            <if test="deleteReason != null">#{deleteReason},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="name != null">#{name},</if>
            <if test="callbackId != null">#{callbackId},</if>
            <if test="callbackType != null">#{callbackType},</if>
            <if test="referenceId != null">#{referenceId},</if>
            <if test="referenceType != null">#{referenceType},</if>
         </trim>
    </insert>

    <update id="updateActHiProcinst" parameterType="ActHiProcinst">
        update act_hi_procinst
        <trim prefix="SET" suffixOverrides=",">
            <if test="rev != null">REV_ = #{rev},</if>
            <if test="procInstId != null and procInstId != ''">PROC_INST_ID_ = #{procInstId},</if>
            <if test="businessKey != null">BUSINESS_KEY_ = #{businessKey},</if>
            <if test="procDefId != null and procDefId != ''">PROC_DEF_ID_ = #{procDefId},</if>
            <if test="startTime != null">START_TIME_ = #{startTime},</if>
            <if test="endTime != null">END_TIME_ = #{endTime},</if>
            <if test="duration != null">DURATION_ = #{duration},</if>
            <if test="startUserId != null">START_USER_ID_ = #{startUserId},</if>
            <if test="startActId != null">START_ACT_ID_ = #{startActId},</if>
            <if test="endActId != null">END_ACT_ID_ = #{endActId},</if>
            <if test="superProcessInstanceId != null">SUPER_PROCESS_INSTANCE_ID_ = #{superProcessInstanceId},</if>
            <if test="deleteReason != null">DELETE_REASON_ = #{deleteReason},</if>
            <if test="tenantId != null">TENANT_ID_ = #{tenantId},</if>
            <if test="name != null">NAME_ = #{name},</if>
            <if test="callbackId != null">CALLBACK_ID_ = #{callbackId},</if>
            <if test="callbackType != null">CALLBACK_TYPE_ = #{callbackType},</if>
            <if test="referenceId != null">REFERENCE_ID_ = #{referenceId},</if>
            <if test="referenceType != null">REFERENCE_TYPE_ = #{referenceType},</if>
        </trim>
        where ID_ = #{id}
    </update>

    <delete id="deleteActHiProcinstById" parameterType="String">
        delete from act_hi_procinst where ID_ = #{id}
    </delete>

    <delete id="deleteActHiProcinstByIds" parameterType="String">
        delete from act_hi_procinst where ID_ in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>